.axure {
    padding: 58px 0;
    background-image: url('../img/background 1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.axure::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
}

.title-axure {
    text-align: center;
    text-transform: uppercase;
    font-family: "raleway";
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: rgba(255, 255, 255, 1);
    font-style: normal;
}

.title-axure::after {
    content: "";
    width: 67px;
    height: 2px;
    display: block;
    background-color: #FFFFFF;
    margin: 34px auto;
}

.text-axure p {
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    width: 779px;
    margin: 34px auto 57px;
}

.link-axure {
    width: 135px;
    height: 42px;
    margin: 57px auto 38px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
}

.link-axure a {
    display: block;
    font-size: 15px;
    font-family: "Open Sans";
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    margin: 11px 0;
    color: #FFFFFF;
}